body{ 
    font-family: Verdana, sans-serif;
}
header{
    background-color: rgb(255, 118, 118);
border: rgb(255, 0, 0) solid 20px;}
#imagendes{
    display: flex;
    
}
#men{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main{ background-color: rgb(254, 254, 254);
border: red solid 10px;}
#servicios{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
   align-items: center;
}
#flota{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
#ace{
    text-align: left;
    border: rgb(0, 0, 0) solid 2px;
    background-color: rgb(255, 118, 118);
}
#tes{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    border: rgb(0, 0, 0) solid 2px;
}
#contact{
    display: flex;
    flex-direction: column;
    border: rgb(255, 0, 0) solid 2px;
    background-color:  salmon;
}